.contacts-container {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 30px;
  margin: 50px auto;
  width: 60%;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.contacts-container h1 {
  font-size: 36px;
  color: #812d91;
  margin-bottom: 20px;
}

.contacts-container p {
  font-size: 18px;
  line-height: 1.6;
  color: #333;
}

.contacts-container form input,
.contacts-container form textarea {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.contacts-container form button {
  background-color: #cc5fc0;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.contacts-container form button:hover {
  background-color: #a9479e;
}